.dropdown-menu.show {
    left: -65px !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: $yellow-600 !important;
}

.dropdown-item {
    font-weight: 600;
}

.nav-link {
    color: $black !important;
    font-weight: 600 !important;
}

.navbar-container {
    background-color: white;
    padding: 0 20px 5px 20px !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}