$secondary-color: #48c97e;
$primary-color: #008592;
$tertinary-color: #dbeb57;

// Green
$green-600:#00ab41;
$green-500: #00c04b;
$green-400: #1fd655;
$green-300: #39e75f;
$green-300: #39e75f;
$green-200: #5ced73;
$green-100: #83f28f;
$green-light: #afffb7;
$green-dark: green;

// Blue
$blue-600: #023e8a;
$blue-500: #0077b6;
$blue-400: #0096c7;
$blue-300: #00b4d8;
$blue-200: #48cae4;
$blue-100: #90e0ef;
$blue-light: #d7faff;
$blue-dark: blue;

// Yellow
$yellow-700: #AA9208;
$yellow-600: #e6cc00;
$yellow-500: #e5de00;
$yellow-400: #e8e337;
$yellow-300: #ece75f;
$yellow-200: 
#f1ee8e;
$yellow-100: #f7f6bc;
$yellow-light: #fffedc;
$yellow-dark: yellow;

$yellow-font-dark: #554904;
$yellow-font-light: #6B5B05;

$black: #000000;
$white: #ffffff;
$gray-light: #f0f0f0;

$theme-colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
    "tertinary": $tertinary-color
);